      <a href="${PAGE}" class="retailer-thumbnail column">
        <img src="${PICTURE}" />
        <h3>${NAME}</h3>
        <div class="description">
          <p>
${DESCRIPTION}
          </p>
        </div>
      </a>
