  <section class="introduction">
    <div class="content">
      <p>
        Hailing from Brno, Czechia, Zlosynth Instruments is a project which aims
        to provide intuitive and immersive eurorack modules that allow access to
        both musical harmony and insanity.
      </p>
    </div>
  </section>

  <section class="modules">
    <div class="content">
      <div class="lead">
        <h2>Modules</h2>
      </div>

      <div class="row">
${MODULES}
      </div>
    </div>
  </section>
