      <div class="module-thumbnail column">
        <a href="${PAGE}"><img src="${PICTURE}" /></a>
        <a href="${PAGE}"><h3>${NAME}</h3></a>
        <div class="description" style="">
          <p>
${DESCRIPTION}
          </p>
        </div>
      </div>
