      <div class="retailer-thumbnail column">
        <a href="${PAGE}"><img src="${PICTURE}" /></a>
${TITLES}
        <div class="description">
          <p>
${DESCRIPTION}
          </p>
        </div>
      </div>
