html,
body {
  height: 100%;
  font-family: Helvetica, Arial, Sans-Serif;
}

dt, p, li {
  line-height: 1.3;
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

dl {
  padding-bottom: 30px;
}

dt, dd {
  display: inline;
}

dt {
  font-weight: 600;
}

ol {
  list-style-type: upper-roman;
  margin-bottom: 30px;
}

ol li {
  margin-bottom: 3px;
  margin-left: 25px;
}

ul {
  list-style-type: square;
  margin: -10px 0 30px 20px;
}

h2 {
  font-size: 2em;
  padding-top: 12px;
  padding-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  padding-top: 12px;
  padding-bottom: 20px;
  text-align: right;
}

dt:before {
  content: "";
  display: block;
  margin-bottom: 7px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.button {
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}

a:hover.button {
  text-decoration: none;
}

.lead {
  text-align: center;
}

.lead h2 {
  padding-bottom: 20px;
}

.lead a {
  color: black;
}

.lead p {
  line-height: 1.5;
  font-size: 1.2em;
}

header {
  background: #222;
  height: 230px;
  color: white;
}

header a, header a:hover {
  text-decoration: none;
  color: white;
}

header .content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section.introduction {
  min-height: calc(75% - 230px);
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 360px) {
  section.introduction {
    min-height: calc(100% - 230px);
  }
}

section.introduction .content {
  max-width: 900px;
  padding: 60px 20px 120px 20px;
  margin: auto;
  text-align: center;
}

section.introduction .content p {
  display: inline-block;
  line-height: 1.5;
  font-size: 1.2em;
}

section.modules .content {
  max-width: 900px;
  margin: auto;
  padding-top: 20px;
}

section.modules .row {
  display: flex;
  flex-wrap: wrap;
}

section.modules .column {
  flex: 33%;
}

@media screen and (max-width: 900px) {
  section.modules .column {
    flex: 100%;
  }
}

.module-thumbnail {
  text-align: center;
  margin: 30px 0 10px 0;
}

.module-thumbnail img {
  border-radius: 5px;
  height: 560px;
}

.module-thumbnail h3 {
  text-align: center;
  margin: 20px 0 10px 0;
  padding: 0;
  color: black;
  font-size: 1.2em
}

.module-thumbnail a:hover {
  text-decoration: none;
}

.module-thumbnail .description {
  width: 220px;
  margin: auto;
}

section.module-intro .content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section.module-intro .content p {
  padding-bottom: 30px;
}

section.module-gallery {
  background: white;
}

section.module-gallery .row {
  display: flex;
  flex-wrap: wrap;
}

section.module-gallery .column {
  flex: 18%;
  max-width: 18%;
}

section.module-gallery .column-wide {
  flex: 28%;
  max-width: 28%;
}

section.module-gallery .column img, section.module-gallery .column-wide img {
  vertical-align: middle;
  width: 100%;
}

.module-menu {
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  section.module-gallery .column, section.module-gallery .column-wide {
    flex: 100%;
    max-width: 100%;
  }

  section.module-gallery .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  section.module-gallery .column, section.module-gallery .column-wide {
    flex: 100%;
    max-width: 100%;
  }
}

section.module-description {
  background: white;
}

section.module-description .content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section.module-description .content p {
  padding-bottom: 30px;
}

section.module-description img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background: #222;
  color: white;
  margin-top: 50px;
  padding-bottom: 10px;
}

footer .content {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px 0 20px;
}

footer a {
  font-weight: 600;
  color: white;
}

footer h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1em;
  padding: 0;
  text-align: left;
}

footer p {
  margin-bottom: 20px;
}

footer .row {
  display: flex;
  margin-bottom: 20px;
}

footer .column-left {
  flex: 75%;
  padding-right: 30px;
}

footer .column-right {
  flex: 25%;
  padding-left: 30px;
}

@media screen and (max-width: 600px) {
  footer .row {
    display: block;
  }

  footer .column-left {
    padding-right: 0;
  }

  footer .column-right {
    padding-left: 0;
  }
}
