      <div style="text-align: center; margin-top: 30px;">
        <a href="${PAGE}"><img src="${PICTURE}" style="border-radius: 5px;" width="220px" /></a>
        <a href="${PAGE}" style="text-decoration: none;"><h3 style="text-align: center; margin-top: 20px; margin-bottom: 10px; color: black; font-size: 1.2em">${NAME}</h3></a>
        <div style="width: 250px; margin: auto;"><p>
${DESCRIPTION}
        </p></div>
      </div>
