  <header>
    <div class="content">
      <div class="column">
        <a href="/">
          <img src="logo.svg" width="130" />
        </a>
      </div>
      <div class="column text-right">
        <a href="/">
          <h1>zlosynth<br />instruments<span>&nbsp;</span></h1>
        </a>
      </div>
    </div>
  </header>
