  <section class="module-intro">
    <div class="content">
      <div class="lead">
        <h2>Manuals</h2>
        <p>
          Documentation for all Zlosynth modules.
        </p>
      </div>
    </div>
  </section>

  <section class="module-description manuals">
    <div class="content">
${MODULES}
    </div>
  </section>
