      <div class="manuals-module">
        <h3>${NAME}</h3>
        <p>
          <a href="/safety-information.pdf">Quick Start &amp; Safety Leaflet</a><br />
          <a href="/${SLUG}-user-manual.pdf">User Manual</a><br />
          <a href="/${SLUG}-build-manual.pdf">Build Manual</a>
        </p>
      </div>
