      <div class="manuals-module">
        <h3>${NAME}</h3>
        <p>
          <a href="/${SLUG}-quick-start-and-product-safety-information-all-languages.pdf">Quick Start &amp; Product Safety Information</a><br />
          <a href="/${SLUG}-user-manual.pdf">User Manual</a><br />
          <a href="/${SLUG}-build-manual.pdf">Build Manual</a>
        </p>
      </div>
